
.facts-container li{
    list-style: none;
    margin: auto;
    width: 50%;
    padding: 25px;
}

footer {
    background-color: white;
}

header {
    background-color: white;
}

img {
    width: 700px;
}

body {
    background-color: beige;
}