.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.container li {
    padding: 10px;
}


img {
    width: 400px;
    height: 400px;
}