footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(182, 36, 97);
    border-style:dotted;
    border-color: rgb(102, 102, 200);
    border-width: 5px;
}

*{
    background-color: beige;

}


#noodle-info {
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    color:rgb(29, 20, 20);
    text-align: center;}


div {
    text-align: center;
}

img{
    width: 800px;
    height: 500px;
}