header {
    padding: 30px;
}

nav ul{
    list-style: none;
    display: flex;
}
nav a  {
    padding-right: 10px;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}