body {
    color: white;
    background-color: rgb(222, 248, 254);
    background: url("../images/lindsay-moe-UP5jWpuIvZI-unsplash-cropped.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
}

header {
    padding-top: 100px;
    position: fixed;
}

footer {
    background-color: rgb(255, 255, 255);
    color: black;
}

a {
    text-decoration: none;
    color: #3D3D3D;
}

a:hover {
    color: #000000;
}

.facts-container {
    grid-column: 3 / 4;
}

#facts {
    color: black;
    background-color: rgba(255,255,255,0.7);
    padding-top: 100px;
    padding-left: 0px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

#facts li {
    list-style: none;
    padding: 25px;
}

#facts img {
    width: 500px;
}

#facts h2 {
    text-align: center;
}