footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(182, 36, 97);
    border-style:dotted;
    border-color: rgb(102, 102, 200);
    border-width: 5px;
}

body{
    background-color: beige;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 700px;
    background-color: lightgrey;
}

img {
    width: 350px;
    height: 350px;
    }

#noodle-info {
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    color:rgb(29, 20, 20);
    text-align: center;

}


div {
    text-align: center;
}

